
<student-create-edit 
*ngIf="openModal" 
[studentId]="idStudent" 
(openCreateEditModal)="openModalStudent($event)"
[textBtnModalStudent]="textBtnModalStudent"
(loadStudents)="loadStudents($event)"
>
</student-create-edit>

<student-delete 
*ngIf="openDeleteModal"
[studentId]="idStudent"
(closeDeleteModal)="closeCancelConfirmModal($event)"
(loadStudents)="loadStudents($event)">
</student-delete>

<section class="py-1 bg-blueGray-50">
  <students-list 
  #studentListComponent
  (openCreateModal)="openCreateModalStudent($event)"
  (openEditModal)="openEditModalStudent($event)"
  (openDeleteModal)="openDeleteModalStudent($event)"
  [loadStudentsData]="loadStudentsAfterCreate">
</students-list>
  <footer class="relative pt-8 pb-6 mt-16">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap items-center md:justify-between justify-center">
        <div class="w-full md:w-6/12 px-4 mx-auto text-center">
          <div class="text-sm text-blueGray-500 font-semibold py-1">

          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
<router-outlet></router-outlet>